@page "/hall-list"

@rendermode InteractiveServer

@using Infrastructure
@using Core.Models
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@using Infrastructure.Data
@using Core.Interfaces

@inject IHallRepository HallRepository
@inject ApplicationDbContext DbContext
@inject ISnackbar SnackBar
@inject NavigationManager NavigationManager

<h3>Lista Sal</h3>

<MudPaper>
    <MudGrid>
        <MudTable Items="@hallList" Hover="true" Loading="@_loading" >
            <HeaderContent>
                <MudTh>Nazwa</MudTh>
                <MudTh>Pojemność</MudTh>
                <MudTh>Możliwość rezerwacji</MudTh>
                <MudTh>Akcje</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nazwa">@context.HallName</MudTd>
                <MudTd DataLabel="Pojemność">@context.Capacity</MudTd>
                <MudTd DataLabel="Dostępność">@context.IsAvailable</MudTd>
                <MudTd DataLabel="">
                    <MudButton Variant="Variant.Filled" Disabled="!context.IsAvailable" OnClick="@(() => ReserveHall(context.Id))">Zarezerwuj</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
        <MudItem>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/hall-edit">Dodaj Salę</MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    private bool _loading = false;
    List<HallModel> hallList = new List<HallModel>();

    protected override async Task OnInitializedAsync()
    {
        await LoadHallAsync();
    }

    private async Task LoadHallAsync()
    {
        try
        {
            _loading = true;
            hallList = await DbContext.Halls
                            .OrderBy(h => h.HallName)
                            .ToListAsync();
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error loading halls: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }

    private void ReserveHall(int hallId)
    {
        // navigate to reservation page with hall id in route
        NavigationManager.NavigateTo($"/hall-reservation/{hallId}");
    }
}
